<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771932681722-s8ev8sv71aol8mc4q3o6t5orsd4jcm3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771932681722-s8ev8sv71aol8mc4q3o6t5orsd4jcm3c</string>
	<key>API_KEY</key>
	<string>AIzaSyBQnyM1GaS7QvN4O6TWTKyfKXYEXbdC6jE</string>
	<key>GCM_SENDER_ID</key>
	<string>771932681722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instgramclone</string>
	<key>PROJECT_ID</key>
	<string>instgramclone-cbd24</string>
	<key>STORAGE_BUCKET</key>
	<string>instgramclone-cbd24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771932681722:ios:cad5c326ee1ce0d2526043</string>
</dict>
</plist>